.footer {
   padding-top:6%;
    position:relative;
    flex: 1;
    margin-top: auto;
    bottom: 10%;
    padding-bottom: 60px
}
.footer-line {
    height: 5px;
    background-color: var(--main-black); /* Line color */
    margin-bottom: 10px; 
    width: 98%;
}
.footer p {
    margin: 0;
    font-size: 14px;
    color: #000000;
}

